<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Intereses</title>
</head>

<body>
  <ul>
    <li><a href="index.html" target="_self">Inicio</a></li>
    <li><a href="lugares.html" target="_self">Lugares</a></li>
    <li><a href="nosotros.html" target="_self">Nosotros</a></li>
    <li><a href="faqs.html" target="_self">FAQ's</a></li>
    <li><a href="contacto.html" target="_self">Contacto</a></li>
    <li><a href="enlaces.html" target="_self">Intereses</a></li>
  </ul>
  </nav>

  <article>
    <h1>Puntos de Interés en Cuenca</h1>
    <p>Descubre algunos de los puntos de interés más destacados del 2023 en la encantadora ciudad de Cuenca. A
      continuación, encontrarás información sobre cada lugar y cómo llegar.</p>

    <table border="1">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Dirección</th>
          <th>Cómo Llegar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Catedral de Cuenca</td>
          <td>Calle Mariscal Sucre, Cuenca</td>
          <td><button>Cómo llegar</button></td>
        </tr>
        <tr>
          <td>Museo Pumapungo</td>
          <td>Calle Larga, Cuenca</td>
          <td><button>Cómo llegar</button></td>
        </tr>
        <tr>
          <td>Parque Calderón</td>
          <td>Gran Colombia y Benigno Malo, Cuenca</td>
          <td><button>Cómo llegar</button></td>
        </tr>
        <tr>
          <td>El Barranco</td>
          <td>Calle Larga, Cuenca</td>
          <td><button>Cómo llegar</button></td>
        </tr>
        <tr>
          <td>Mirador de Turi</td>
          <td>Barrio Turi, Cuenca</td>
          <td><button>Cómo llegar</button></td>
        </tr>
        <tr>
          <td>Parque Nacional Cajas</td>
          <td>Km 18 de la vía Cuenca-Girón, Cuenca</td>
          <td><button>Cómo llegar</button></td>
        </tr>
      </tbody>
    </table>

  </article>
  <br>
  <footer>
    <p>
      #TuCuenca
    </p>
    <ul>
      <li><a href="index.html" target="_self">Inicio</a></li>
      <li><a href="lugares.html" target="_self">Lugares</a></li>
      <li><a href="nosotros.html" target="_self">Nosotros</a></li>
      <li><a href="faqs.html" target="_self">FAQ's</a></li>
      <li><a href="enlaces.html" target="_self">Intereses</a></li>
    </ul>
    <button><a href="contacto.html" target="_self">Contacto</a></button>
    <br>
    <p>Todos los derechos reservados 2023</p>
  </footer>
</body>

</html>