<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FAQs</title>
</head>

<body>
  <ul>
    <li><a href="index.html" target="_self">Inicio</a></li>
    <li><a href="lugares.html" target="_self">Lugares</a></li>
    <li><a href="nosotros.html" target="_self">Nosotros</a></li>
    <li><a href="faqs.html" target="_self">FAQ's</a></li>
    <li><a href="contacto.html" target="_self">Contacto</a></li>
    <li><a href="enlaces.html" target="_self">Intereses</a></li>
  </ul>
  </nav>

  <article>
    <h1>Preguntas Frecuentes</h1>

    <br>
    <div class="faq-item">
      <div class="pregunta">¿Recomendaciones para vestir?</div>
      <div class="respuesta">Durante el día, en Cuenca se puede usar
        camiseta o un suéter ligero, mientras que
        para las tardes y las noches se requerirá
        usar un abrigo. Por el contrario, si tienes
        en mente visitar destinos como el Parque
        Nacional Cajas, deberás utilizar abrigo e
        impermeable, y zapatos de planta labrada</div>
    </div>

    <br>
    <div class="faq-item">
      <div class="pregunta">¿Dónde alojarse en Cuenca?</div>
      <div class="respuesta">El Centro Histórico de Cuenca es una
        opción muy recomendada de hospedaje ya
        que te encontrarás cerca de los principales
        destinos turísticos de la ciudad. Si te
        hospedas en el Centro Histórico, estarás
        muy cerca de los tesoros patrimoniales de
        la ciudad</div>
    </div>

    <br>
    <div class="faq-item">
      <div class="pregunta">¿Es Cuenca seguro?</div>
      <div class="respuesta">Cuenca es considerado como un destino
        muy seguro. Se puede caminar por la
        ciudad sin problemas. Sin embargo, es
        prudente tomar precauciones básicas y
        utilizar siempre el sentido común.</div>
    </div>

    <br>
    <div class="faq-item">
      <div class="pregunta">¿Cómo es el clima en Cuenca?</div>
      <div class="respuesta">El clima de Cuenca, como en todo el país,
        posee dos estaciones: lluviosa y seca. La
        época más calurosa es de marzo hasta
        mediados de mayo, época recomendada
        para visitarlo. La temperatura en Cuenca
        oscila entre los 14°C y 18°C, y en raras
        ocasiones sube más de 19°C.</div>
    </div>
    <br>

    <div class="faq-item">
      <div class="pregunta">¿Vale la pena visitar Cuenca?</div>
      <div class="respuesta">Nuestra respuesta es sí. Cuenca es una
        ciudad que goza de gran riqueza
        arquitectónica, de ahí que es denominada
        la “Atenas del Ecuador . De hecho, fue
        declarada como Patrimonio Cultural de la
        Humanidad, en 1999, por parte de la
        UNESCO.</div>
    </div>
  </article>
  <br>
  <footer>
    <p>
        #TuCuenca
    </p>
    <ul>
      <li><a href="index.html" target="_self">Inicio</a></li>
      <li><a href="lugares.html" target="_self">Lugares</a></li>
      <li><a href="nosotros.html" target="_self">Nosotros</a></li>
      <li><a href="faqs.html" target="_self">FAQ's</a></li>
      <li><a href="enlaces.html" target="_self">Intereses</a></li>
    </ul>
    <button><a href="contacto.html" target="_self">Contacto</a></button>
    <br>
    <p>Todos los derechos reservados 2023</p>
  </footer>
</body>

</html>