<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="index.html" target="_self">Inicio</a></li>
      <li><a href="lugares.html" target="_self">Lugares</a></li>
      <li><a href="nosotros.html" target="_self">Nosotros</a></li>
      <li><a href="faqs.html" target="_self">FAQ's</a></li>
      <li><a href="contacto.html" target="_self">Contacto</a></li>
      <li><a href="enlaces.html" target="_self">Intereses</a></li>
      </ul>
    </nav>
<article>
  <h2>Nosotros</h2>
  <h3>TuCUenca Tour</h3>
  <p>Somos una empresa promotora del turismo nacional y 
    en este caso, del atenas del Ecuador donde impulsamos 
    el turismo en altos niveles nacionales e internacionales.
    
    Nuestro único fin es llevar a conocer un pedacito de la 
    mágica cuenca al mundo entero y tenga toda la 
    información posible en un solo lugar, en TuCuenca Tour.</p>
    <br>
    <button>Contáctanos</button>
</article>
<br>
<footer>
  <p>
      #TuCuenca
  </p>
  <ul>
    <li><a href="index.html" target="_self">Inicio</a></li>
    <li><a href="lugares.html" target="_self">Lugares</a></li>
    <li><a href="nosotros.html" target="_self">Nosotros</a></li>
    <li><a href="faqs.html" target="_self">FAQ's</a></li>
    <li><a href="enlaces.html" target="_self">Intereses</a></li>
  </ul>
  <button>Contacto</button>
  <br>
  <p>Todos los derechos reservados 2023</p>
</footer>
</body>
</html>